<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>My name is Puru Ahalwat, and I believe that life is a magnificent adventure, meant to be explored with an open heart and an inquisitive mind. As I walk this path, I seek knowledge, compassion, and growth, constantly striving to make a positive impact on the world around me.
</p>

           <p>Born and raised in a vibrant community, I was instilled with values of empathy, integrity, and perseverance from an early age. My family played a significant role in shaping my character, teaching me the importance of humility and gratitude. Their unwavering support has been a constant source of strength and motivation throughout my life.
</p>
          
            <p></p>
            <p></p>
            <p></p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>In conclusion, I am Puru Ahalwat a passionate and curious soul, embracing the journey of life with humility and a thirst for knowledge. Driven by compassion and a sense of responsibility, I am determined to leave a positive impact on the world, one step at a time. As I continue to grow, learn, and explore, I am eager to discover the wonders that lie ahead and make a meaningful difference in the lives of others.</p>
    </aside>
</div>